name: Next CLI container build

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore: docs/

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  INIT_IMAGE_NAME: ${{ github.repository }}-init
  KIT_SERVE_IMAGE: ${{ github.repository }}-kserve
  KUBEFLOW_IMAGE: ${{ github.repository }}-kubeflow
  NEXT_TAG: next

permissions:
  id-token: write
  contents: read
  attestations: write
  packages: write

jobs:
  docker-image-build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130    # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

      - name: Login to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9         # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build and push base Kit container
        id: build-kit-container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8    # v6.19.2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: .
          file: build/dockerfiles/Dockerfile
          build-args: |
            KIT_VERSION=${{ github.ref_name }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=Kit CLI container built from source
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Kit init container
        id: build-kit-init-container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8    # v6.19.2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/init
          file: build/dockerfiles/init/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=Kit CLI init container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0
     
      - name: Build and push Kit KServe container
        id: build-kit-serve-container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8    # v6.19.2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/KServe
          file: build/dockerfiles/KServe/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.KIT_SERVE_IMAGE }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=KitOps KServe container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Kubeflow Pipeline components container
        id: build-kubeflow-container
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8    # v6.19.2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/kubeflow-components
          file: build/dockerfiles/kubeflow-components/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.KUBEFLOW_IMAGE }}:${{ env.NEXT_TAG }}
          annotations: |
            index:org.opencontainers.image.description=KitOps Kubeflow Pipeline Components
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0
