name: Release with Platform builds

on:
  workflow_dispatch:
    inputs:
      skip_signing:
        description: 'Skip code signing'
        required: true
        default: false
        type: boolean
      release_tag:
        description: 'Release tag'
        required: true
        type: string
  push:
    tags:
      - 'v*'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  INIT_IMAGE_NAME: ${{ github.repository }}-init
  KIT_SERVE_IMAGE: ${{ github.repository }}-kserve
  KUBEFLOW_IMAGE: ${{ github.repository }}-kubeflow

permissions:
  contents: write
  pull-requests: write
  packages: write
  id-token: write
  attestations: write

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      ## install build dependencies for frontend generation
      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: './frontend/dev-mode/.nvmrc'

      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: './docs/package.json'

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
            go-version-file: 'go.mod'

      - name: Import Apple Code Signing Certificates
        if: ${{ github.event_name != 'workflow_dispatch' || !inputs.skip_signing }}
        uses: Apple-Actions/import-codesign-certs@b610f78488812c1e56b20e6df63ec42d833f2d14 # v6.0.0
        with:
          p12-file-base64: ${{ secrets.APPLE_CERTIFICATE_BASE64 }}
          p12-password: ${{ secrets.APPLE_CERTIFICATE_PASSWORD }}

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@deef08a0db64bfad603422135db61477b16cef56 #v0.22.1
        with:
          syft-version: v1.32.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a #v6.4.0
        with:
          version: latest
          distribution: goreleaser
          args: release --clean --snapshot --config ./.goreleaser.darwin.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          APPLE_DEVELOPER_ID: ${{ secrets.APPLICATION_IDENTITY}}
          APPLE_ID: ${{ vars.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD}}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID}}
      - name: Notarize the macOS binary
        env:
          APPLE_DEVELOPER_ID: ${{ secrets.APPLICATION_IDENTITY}}
          APPLE_ID: ${{ vars.APPLE_ID }}
          APPLE_ID_PASSWORD: ${{ secrets.APPLE_ID_PASSWORD}}
          APPLE_TEAM_ID: ${{ secrets.APPLE_TEAM_ID}}
        shell: bash
        run: |
          ./build/scripts/sign ./dist/kitops-darwin-arm64.zip
          ./build/scripts/sign ./dist/kitops-offline-darwin-arm64.zip
          ./build/scripts/sign ./dist/kitops-darwin-x86_64.zip
          ./build/scripts/sign ./dist/kitops-offline-darwin-x86_64.zip
      - name: Upload macOS artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
            name: dist-macos
            if-no-files-found: error
            retention-days: 7
            path: |
              ./dist/*.zip
              ./dist/*.tar.gz
              ./dist/*.sbom.json

  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
            go-version-file: 'go.mod'

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@deef08a0db64bfad603422135db61477b16cef56 #v0.22.1
        with:
          syft-version: v1.32.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a #v6.4.0
        with:
          version: latest
          distribution: goreleaser
          args: release --clean --snapshot --config ./.goreleaser.windows.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Windows artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
            name: dist-windows
            if-no-files-found: error
            retention-days: 7
            path: |
              ./dist/*.zip
              ./dist/*.sbom.json

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
            go-version-file: 'go.mod'

      - name: Install Syft
        uses: anchore/sbom-action/download-syft@deef08a0db64bfad603422135db61477b16cef56 #v0.22.1
        with:
          syft-version: v1.32.0

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a #v6.4.0
        with:
          version: latest
          distribution: goreleaser
          args: release --clean --snapshot --config ./.goreleaser.linux.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Linux artifacts
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
            name: dist-linux
            if-no-files-found: error
            retention-days: 7
            path: |
              ./dist/*.tar.gz
              ./dist/*.sbom.json

  # Creates a release using artifacts created in the previous steps.
  # workflow_dispatch triggered versions will be draft releases.
  # CLI docs are not updated for workflow_dispatch triggered versions.
  release:
    runs-on: ubuntu-latest
    needs: [build-linux, build-macos, build-windows]
    steps:
      # checkout the current repository
      - name: Checkout kitops
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: kitops

      # Create the homebrew-file directory to store the
      # homebrew artifacts and copy the awk script and
      # recipe template to it. These will be used later
      # to build the homebrew recipe file.
      - name: Create homebrew-files dir
        run: |
          mkdir homebrew-files
          cp ./kitops/build/homebrew/*.* ./homebrew-files

      - name: Merge build artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: dist
          pattern: dist-*
          merge-multiple: true

      - name: Create checksums
        env:
          TAG_NAME: ${{ inputs.release_tag || github.ref_name}}
          #TAG_NAME: ${{ inputs.release_tag}}
        run: |
          shopt -s failglob
          pushd dist
          shasum -a 256 kitops-* | grep -v '.sbom.json$' > checksums.txt
          mv checksums.txt kitops_${TAG_NAME}_checksums.txt
          cp kitops_${TAG_NAME}_checksums.txt ../homebrew-files/.
          popd

      # upload the homebrew-files directory (and its contents)
      # as an artifact to be used later when generating the
      # homebrew recipe and pushing it to the repository:
      # 'kitops-ml/homebrew-kitops'
      - name: Upload homebrew-files as a build artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f  # v6.0.0
        with:
          name: homebrew-files
          if-no-files-found: error
          retention-days: 7
          path: ./homebrew-files

      - name: Create Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ inputs.release_tag || github.ref_name}}
          REPO: ${{ github.repository }}
          DRAFT_RELEASE: ${{ github.event_name == 'workflow_dispatch' }}
        run: |
          echo "Creating release for ${TAG_NAME}"
          release_args=(
            ${TAG_NAME}
            ./dist/*.*
            --title "Release ${TAG_NAME}"
            --generate-notes
            --repo ${REPO}
          )
          if [[ "${DRAFT_RELEASE}" == "false" ]]; then
            previous_release="$(gh release list --repo $REPO --limit 1 --json tagName --jq '.[] | .tagName ')"
            echo "Previous release: ${previous_release}"
            release_args+=( --latest )
            release_args+=( --verify-tag )
            release_args+=( --notes-start-tag "${previous_release}" )
          else
            release_args+=( --draft )
          fi
          gh release create "${release_args[@]}"

      - name: Generate CLI documentation
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ inputs.release_tag || github.ref_name}}
        run: |
          pushd kitops
          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          PR_BRANCH="${{ github.ref_name }}-docs-update"
          git fetch origin main
          git branch "$PR_BRANCH"
          git checkout "$PR_BRANCH"
          git pull origin --ff-only "${PR_BRANCH}" || true

          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"

          (cd docs; npm pkg set version=$TAG_NAME)
          ./docs/src/docs/cli/generate.sh > /dev/null
          git add --all
          git commit -s -m "docs: update CLI documentation for ${{ github.ref_name }}"
          git push origin "${PR_BRANCH}"
          gh pr create --fill --base main --head "${PR_BRANCH}"
          git checkout "${CURRENT_BRANCH}"
          popd


  # Generate and publish the homebrew recipe (kitops.rb) to the repository:
  # 'kitops-ml/homebrew-kitops'
  publish-homebrew-tap-formula:
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf   ## v2.2.1
        with:
          app-id: ${{ vars.KITOPS_BOT_ID }}
          private-key: ${{ secrets.KITOPS_BOT_PRIVATE_KEY }}
          owner: kitops-ml
      # checkout the homebrew-kitops repository (kitops-ml/homebrew-kitops)
      - name: Checkout homebrew-kitops
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: kitops-ml/homebrew-kitops
          ref: 'main'
          path: homebrew-kitops
          token: ${{ steps.generate-token.outputs.token }}

      - name: Download the homebrew artifacts to build the homebrew recipe
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: homebrew-files
          path: homebrew-files
          merge-multiple: true

      - name: Create and save homebrew-metadata.txt
        env:
          TAG_NAME: ${{ inputs.release_tag || github.ref_name}}
          REPO: ${{ github.repository }}
        run: |
          shopt -s failglob
          pushd homebrew-files
          awk '
            BEGIN { tag_name = ENVIRON["TAG_NAME"]; repo = ENVIRON["REPO"];}
            /.tar.gz$/ {
             print "\""$1"\"",
              "\"https://github.com/" repo "/releases/download/" tag_name "/" $2 "\"",
              $2,
              tag_name }' kitops_${TAG_NAME}_checksums.txt |
          awk '{ sub(/.tar.gz/, "", $3); print $1, $2, $3, $4 }' |
          awk '{ sub(/kitops-/, "", $3); print $1, $2, $3, $4 }' |
          awk '{sub(/v/, "", $4); print $1, $2, $3, $4 }' > homebrew-metadata.txt
          popd

      # uses the homebrew-metadata.txt file generated in the
      # previous step to generate the homebrew formula (kitops.rb)
      # for the homebrew tap (located at 'kitops-ml/homebrew-kitops')
      - name: Create homebrew formula
        run: |
          pushd homebrew-files
          awk -f create-homebrew-recipe.awk homebrew-metadata.txt
          popd

      # publish the homebrew recipe file to the homebrew tap
      # located in the repository: 'kitops-ml/homebrew-kitops'
      - name: Commit homebrew recipe to the homebrew tap
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          TAG_NAME: ${{ inputs.release_tag}}
          REPO: "kitops-ml/homebrew-kitops"
        run: |
          cp -f ./homebrew-files/homebrew-metadata.txt ./homebrew-kitops/.
          cp -f ./homebrew-files/kitops.rb ./homebrew-kitops/.
          pushd homebrew-kitops
          CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD)
          PR_BRANCH="${{ github.ref_name }}-homebrew-tap-update"
          git fetch origin main
          git branch "$PR_BRANCH"
          git checkout "$PR_BRANCH"
          git pull origin --ff-only "${PR_BRANCH}" || true
          git config --global user.name "${GITHUB_ACTOR}"
          git config --global user.email "${GITHUB_ACTOR_ID}+${GITHUB_ACTOR}@users.noreply.github.com"
          git add --all
          git commit -s -m "homebrew: update Homebrew Tap Formula for ${{ github.ref_name }}"
          git push origin "${PR_BRANCH}"
          gh pr create --fill --base main --head "${PR_BRANCH}"
          git checkout "${CURRENT_BRANCH}"
          popd

  docker-image-build:
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130    # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f  # v3.12.0

      - name: Login to ghcr.io
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9         # v3.7.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Build and push base Kit container
        id: build-kit-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles
          file: build/dockerfiles/release.Dockerfile
          build-args: |
            KIT_VERSION=${{ github.ref_name }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ github.ref_name }}
          annotations: |
            index:org.opencontainers.image.description=Official release Kit CLI container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Kit init container
        id: build-kit-init-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/init
          file: build/dockerfiles/init/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}:latest
            ${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}:${{ github.ref_name }}
          annotations: |
            index:org.opencontainers.image.description=Kit CLI init container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Kit KServe container
        id: build-kit-serve-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/KServe
          file: build/dockerfiles/KServe/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.KIT_SERVE_IMAGE }}:latest
            ${{ env.REGISTRY }}/${{ env.KIT_SERVE_IMAGE }}:${{ github.ref_name }}
          annotations: |
            index:org.opencontainers.image.description=Kit KServe container
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Kubeflow Pipeline components container
        id: build-kubeflow-container
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83    # v6.18.0
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: build/dockerfiles/kubeflow-components
          file: build/dockerfiles/kubeflow-components/Dockerfile
          build-args: |
            KIT_BASE_IMAGE=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}@${{ steps.build-kit-container.outputs.digest }}
          tags: |
            ${{ env.REGISTRY }}/${{ env.KUBEFLOW_IMAGE }}:latest
            ${{ env.REGISTRY }}/${{ env.KUBEFLOW_IMAGE }}:${{ github.ref_name }}
          annotations: |
            index:org.opencontainers.image.description=KitOps Kubeflow Pipeline Components
            index:org.opencontainers.image.source=https://github.com/kitops-ml/kitops
            index:org.opencontainers.image.licenses=Apache-2.0

      - name: Generate artifact attestation for base container
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f   # v3.2.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          subject-digest: ${{ steps.build-kit-container.outputs.digest }}
          push-to-registry: true

      - name: Generate artifact attestation for kit init container
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f   # v3.2.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.INIT_IMAGE_NAME }}
          subject-digest: ${{ steps.build-kit-init-container.outputs.digest }}
          push-to-registry: true

      - name: Generate artifact attestation for kit kserve container
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f   # v3.2.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.KIT_SERVE_IMAGE }}
          subject-digest: ${{ steps.build-kit-serve-container.outputs.digest }}
          push-to-registry: true

      - name: Generate artifact attestation for kubeflow container
        uses: actions/attest-build-provenance@96278af6caaf10aea03fd8d33a09a777ca52d62f   # v3.2.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.KUBEFLOW_IMAGE }}
          subject-digest: ${{ steps.build-kubeflow-container.outputs.digest }}
          push-to-registry: true
